* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f0edf2; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.card {
    background-color: #ffffff;
   width: 90%;          
    max-width: 380px; 
    padding: 30px 24px;
    border-radius: 20px; 
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05); 
    text-align: center; 
}
.profile-img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover; 
    border: 4px solid #e8dfe9; 
    margin-bottom: 15px;
}
h1 {
    color: #4a3b4e; 
    font-size: 26px;
    margin-bottom: 5px;
}
.title {
    color: #a288a6; 
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
}
.bio {
    color: #7a6e7f; 
    font-size: 14px;
    line-height: 1.6; 
    margin-bottom: 25px;
}
.button-container{
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100% ;
}
.fan-btn {
    background-color: #8f7193; 
    color: #ffffff; 
    border: none; 
    width: 100%; /* الزر ياخذ العرض الكلي المتوفر داخل الكارت */
    padding: 12px 0;
    border-radius: 20px; 
    font-size: 16px;
    font-weight: 600;
    cursor: pointer; 
   transition: background-color 0.3s ease , transform 0.3s ease; /* حركة ناعمة كي يتغير اللون */
}
.fan-btn:hover {
    background-color: #725476; 
    transform: translateY(-4px);
}
.fav-icon{
    font-size: 24px;
    color: #a288a6;
    cursor: pointer;
    transition: all 0.2 ease;
}
.fav-icon:hover{
    transform: scale(1.15);
}
.fav-icon.active{
    color: #ff70a6;
}
.stats {
    display: flex;
    justify-content: center;
    gap: 15px; 
    color: #4a3b4e;
    font-size: 15px;
    margin-bottom: 25px;
}

.stats strong {
    color: #8f7193; 
}

.divider {
    color: #e8dfe9;
}